* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cream);
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px var(--color-blue);
    padding: 40px;
    width: 450px;
    text-align: center;
    color: var(--color-blue);
    border-radius: 15px;
    background-color: var(--color-gold-light);
    font-family: var(--font-title);
}

div span {
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding: 25px;
}

div i {
    font-size: 6em;
    display: flex;
}

div p {
    padding: 20px;
    font-style: italic;
}

div a {
    color: var(--color-sapphire);
    text-decoration: none;
}