footer {
    background: var(--color-background);
    padding: 40px 20px;
    width: 100%;
    color: var(--color-blue);
}

footer section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
}

footer section > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 200px;
}

/* ================== */
/* TITRES COLONNES    */
/* ================== */
footer section h3 {
    font-size: var(--text-h3);
    font-family: var(--font-title);
    color: var(--color-blue) !important;
    font-weight: bold;

    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: fit-content;
}

footer section h3::after {
    content: "";
    display: block;
    width: 120%;
    height: 2px;
    background: var(--color-gold);
    margin-top: 5px;
}

/* ======== */
/* LIENS    */
/* ======== */
footer section a {
    color: var(--color-blue);
    text-decoration: none;
    font-size: var(--text-body);
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

footer section a:hover {
    color: var(--color-gold);
}

/* ======= */
/* LOGO    */
/* ======= */
footer img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--color-blue);
}