.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    background: var(--color-background);
    min-height: 80px;
    border-bottom: 3px solid var(--color-gold);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-custom .nav-link {
    color: var(--color-blue) !important;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-title);
    padding: 8px 12px;
}

.navbar-custom .navbar-brand {
    color: var(--color-blue) !important;
    font-family: var(--font-title);
}

/* bouton connexion */
.navbar-custom #btn_connexion,
.navbar-custom #btn_deconnexion {
    border: 2px solid var(--color-blue) !important;
    border-radius: 10px;
    padding: 5px 15px;
}

#btn_client img, #btn_Favoris img, #btn_historique img {
    filter: invert(12%) sepia(50%) saturate(4102%) hue-rotate(212deg) brightness(89%) contrast(106%);
    width: 19px !important;
    height: 19px !important;
}

#btn_client:hover img, #btn_Favoris:hover img, #btn_historique:hover img {
    filter: invert(74%) sepia(34%) saturate(802%) hue-rotate(4deg) brightness(90%) contrast(92%);
}

.navbar-custom #btn_connexion:hover,
.navbar-custom #btn_deconnexion:hover {
    background-color: var(--color-blue) !important;
    color: white !important;
}

.navbar-custom .nav-link:hover {
    color: var(--color-gold) !important;
    text-decoration: underline;
}

.navbar-custom .nav-item {
    margin-right: 10px;
}

.navbar-custom .navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

@media (min-width: 992px) {
    .navbar-custom .container-fluid {
        height: var(--navbar-height-desktop);
    }

    .navbar-custom .navbar-brand {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar-custom .navbar-collapse {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-custom .me-auto {
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    .navbar-custom .navbar-nav:last-child {
        margin-left: auto !important;
    }
}

@media (max-width: 991px) {
    .navbar-custom .navbar-brand {
        position: static;
        left: auto;
        transform: none;
    }
}

.navbar-custom .navbar-toggler {
    border-color: var(--color-blue);
}